<div class="post-single-wrapper axil-section-gap bg-color-white">
    
    
    <div class="slider-area bg-color-white">
        <div class="axil-slide slider-style-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-activation axil-slick-arrow mb--30">
                            <!-- Start Single Slide  -->
                            <!-- HERE THE IMAGE LIST -->
                            <div class="content-block">
                                <!-- Start Post Thumbnail  -->
                                <div class="post-thumbnail">
                                    <a href="post-details.html">
                                        <img src="../../uploads//memento-mori-1648554921774-416611506.jpg" alt="Post Images">
                                    </a>
                                </div>
                                <!-- End Post Thumbnail  -->
                            </div>
                            <!-- End Single Slide  -->
                            <div class="content-block">
                                <!-- Start Post Thumbnail  -->
                                <div class="post-thumbnail">
                                    <a href="post-details.html">
                                        <img src="../../uploads//memento-mori-1648554921774-416611506.jpg" alt="Post Images">
                                    </a>
                                </div>
                                <!-- End Post Thumbnail  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout pb--40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="post-cat">
                                            <div class="post-cat-list">
                                                <a class="hover-flip-item-wrapper" href="#">
                                                    <span class="hover-flip-item">
                                                        <span data-text="FEATURED POST"><%= post.title %></span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <h1 class="title"><%= post.title %></h1>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->
                <!-- Start Blog Details  -->
                
                <div class="axil-post-details">
                    <figure class="wp-block-image alignwide text-center">
                        <img src="/uploads/<%= uploadsFolderPath %>/<%= post.banner_image %>" alt="Post Images">
                    </figure>
                    
                    

                    <%- post.description %>

                    <div class="tagcloud">
                        <% for (let category of categories) { %>
                            <a href="/<%= pathname %>/c/<%= category.url_slug %>" class="tag-item"><%= category.title %></a>
                        <% } %>
                    </div>
                </div>
                <!-- End Blog Details  -->
            </div>
        </div>
    </div>
</div>


